<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <%- include('./partials/header'); -%>
    <h1>Contatos</h1>
    <p><%= contactContent  %></p>
    <%- include('./partials/footer'); -%>
</body>
</html>